*{
	margin: 0px;
	padding:0px;
}
body{
	background: #fcfaf5;
	font-family:"Microsoft YaHei";/*设定所有的字体均为“微软雅黑”*/
}
#front{
   font-size:30px;
   width:500px;
   text-align: center;
}
#head{
  
   margin-top:15px;
   width:1000px;
   height:75px;
   margin:0px auto;
}
/*顶部区域*/
#top{
	width:1000px;
	margin:0px auto;
	padding-top:27px;
}
/*导航栏*/
#nav{
	width:850px;
   height:73px;
   margin-left:20px;  
   margin-top:20px;   
   font-family:"微软雅黑";
   font-size:16px;
   background-color:#6495ed;
}
#nav ul{
   list-style:none
}
#nav ul li{
	 margin-top:25px;
   text-align: center;
   float:left;
   width:150px
}
#nav li a:link,#nav li a:visited{
	color:black;
   font-weight:bold;
   text-decoration:none;
}
#nav li a:hover{
	color:green;
   font-weight:bold;
   text-decoration:underline; 
}
/*当前位置*/
#pos{
	width: 960px;
	margin: 0 auto;
	padding:10px 20px  20px;
	font-size:12px;
}
#pos img{
	float: left;/*使文字和图片出现在一行*/
}
#pos p{
	color:#767676;
	font-size: 16px;
}
#pos span{
	font-size: 12px;
}
/*主要内容区域*/
#content{
	width: 1000px;
	margin:0 auto;/*控制内容区域水平居中*/
}
/*表单部分*/
form{
	border: 1px solid #e0d4af;
	background-color: #fff;
	padding: 20px;
	line-height: 50px;
	background-image: url(../images/mn.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
form table{
	margin:0 auto;
}
.col1{
	width: 100px;
	font-size: 14px;
	color: #333;
}
.col2{
	width: 350px;
}
.tr{
	text-align: center;
}
.tr input{
	width: 80px;
}
/*底部信息*/
#footer{
	clear: both;
	text-align: center;
	padding-top: 35px;
	font-size: 13px;
}
.info a:link,.info a:visited{
	color: #999;
	text-decoration: none;
}
.info a:hover{
	color:red;
	text-decoration: underline;
}
.copy{
	margin-top: 15px;
	margin-bottom: 35px;
	color:#999;
}