body {
	margin:0 auto;
}
.add_photo {
	width:100%;
	margin:0 auto;
}

.box{
    width:1000px;
    height:300px;
}
.left{
    float:left;
    width:30%;
    height:100px;
}
.center{
    float:left;
    width:30%;
    height:100px;
}
.right{
    float:left;
    width:30%;
    height:100px;
}
.sprite{
    display:inline-block;
    width:125px;
    height:125px;
    background-image:url(../images/18.jpg);
}
.sprite.man{
    background-position: 0px -250px;
}
.sprite.woman{
    background-position: -125px -250px;
}
