
body {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	height: 580px;
	background-color: #34415f;
	background-image: url(../images/11.jpg);
	background-size: cover;
}

div.poster-container {
	width: 1139px;
	height: 580px;
	position: relative;
	margin: 0 auto;
}

div.poster {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	background: top right no-repeat url(../images/banner.jpg);
	animation: showPoster 1s ease 0.5s 1 forwards;
}


div.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	
}


div.content {
	position: absolute;
}



dl.title {
	color: black;
	position: relative;
	z-index: 2;
}

dl.title>h1 {
	font-weight: 300;
	font-size: 2.56em;
	padding-left: 1.25em;
}

dl.title>dd {
	display: block;
	overflow: hidden;
	width: 42%;
	font-size: 0.9em;
	text-indent: 1.8em;
	color: black;
	line-height: 200%;
}




